<%= form_for [@workout.athlete, @workout.cycle, @workout] do |f| %>
  <%= render "shared/errors", object: @workout %>
  <div class="row collapse">
    <div class="medium-2">
      <%= f.label :workout_date %>
      <%= f.date_field :workout_date %>
    </div>
    <div class="medium-6">
      <%= f.label :notes %>
      <%= f.text_area :notes, rows: 5 %>
    </div>
  </div>

  <div class="row collapse">
    <%= f.submit submit_text, class: "button radius centered large-6 warning" %>
  </div>
<% end %>

<%= link_to "Back to Cycle Page", user_cycle_path(@workout.athlete, @workout.cycle), class: "button radius success large-6" %>