<%= form_for [@subcategory.category, @subcategory] do |f| %>
  <%= render "shared/errors", object: @subcategory %>
  <div class="large-3">
    <%=f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit submit_text, class: "button small radius" %>
<% end %>