<%= form_for @user do |f| %>
  <%= render "shared/errors", object: @user %>
  <div class="row">
    <div class="small-5">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="small-5">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>
  <% Role.all.sort{|x,y| x.role <=> y.role}.each do |role| %>
    <div class="row">
      <div class="small-10">
        <%= fields_for :roles do |builder| %>
          <%= builder.label role.id, "#{role.role}:" %>
          <%= builder.check_box role.role %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= f.submit submit_text, class: "button radius success" %>
<% end %>