<%= form_for @user do |f| %>
  <%= render "shared/errors", object: @user %>
  <div class="row">
    <div class="small-5">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="small-5">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>
  <%= f.submit submit_text, class: "button radius success" %>
<% end %>