<% num_user_cycles = @user.cycles.size %>

<%= render "shared/content_title", title: "User Profile" %>

<div class="row panel">
  <%= link_to(edit_user_path(@user), class: "button radius info right tiny") do %>
    <i class="fi-pencil"></i>
  <% end %>
  <h4><%= @user.name %></h4>
  <%= render "users/show_user_roles", user: @user%>
  <br/>
  <br/>
  Email: <%= @user.email %>

</div>

<div class="row panel">
  <%= render "goals/form", submit_text: "Add", goalable_object: @user %>
  <div class="row collapse">
    <h4><%= pluralize(@user.goals.size, "Goal") %></h4>
    <ul>
      <% @user.goals.each do |goal| %>
        <li>
          <%= goal.description %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<br/>

<div class="row">
  <%= link_to "Add Workout Cycle", new_user_cycle_path(@user), class: "button radius" %>

  <div class="row collapse">
    <h4><%= pluralize(num_user_cycles, "Workout Cycle") %></h4>
    <% if num_user_cycles > 0 %>
      <div class="row panel">
        <% @user.cycles.each do |cycle| %>
          <%= render "cycles/preview", cycle: cycle %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>