<%= render "shared/content_title", title: "#{link_to(@cycle.athlete.name, @cycle.athlete)} > Workout Cycle: #{convert_date(@cycle.start_date)} to #{convert_date(@cycle.end_date)}".html_safe %>

<%= link_to "Add Workout", new_user_cycle_workout_path(@cycle.athlete, @cycle) %>

<ul class="tabs" data-tab role="tablist">
  <% for j in 1..@cycle.cycle_length_weeks do %>
  <li class="tab-title <%= "active" if j == 1 %>" role="tab"><a href="#week<%= j %>">Week <%= j %></a></li>
  <% end %>
</ul>

<div class="tabs-content">
  <% for j in 1..@cycle.cycle_length_weeks do %>
    <div class="content <%= "active" if j==1%>" id="week<%= j %>">
      <% exercise_count = 0 %>
      <% if @cycle.workouts.select{|workout| workout.week_in_cycle == j}.empty? %>
        <%= link_to "Add Workout", new_user_cycle_workout_path(@cycle.athlete, @cycle), class: "button medium radius" %>
      <% end %>
      <ul class="accordion" data-accordion>
        <% @cycle.workouts.select{|workout| workout.week_in_cycle == j}.sort{|x,y| x.workout_date <=> y.workout_date}.each do |workout| %>
          <li class="accordion-navigation">
            <a href="#workout-<%= j %>-<%= exercise_count %>">Workout <%= workout.workout_date %></a>
            <div id="workout-<%= j %>-<%= exercise_count %>" class="content">
              <div class="large-2">
                <%= link_to "Edit Workout", edit_user_cycle_workout_path(workout.cycle.athlete, workout.cycle, workout), class: "button tiny alert radius" %>
              </div>
              <%= render "workouts/workout", workout: workout %>
            </div>
          </li>
          <% exercise_count += 1 %>
        <% end %>

      </ul>
    </div>
  <% end %>
</div>

<script>
  $(document).foundation({
    tab: {
      callback : function (tab) {
        console.log(tab);
      }
    }
  });
</script>