<% categories = Category.all.sort{|x,y| x.name <=> y.name} %>

<nav class="top-bar top-bar-link-bg-hover-lightness" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Workout App", root_path%></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown not-click">
        <a href="#"> Coaches </a>
        <ul class="dropdown">
          <% User.all.select{|x| x.role == "Coach"}.sort{|x,y| x.name <=> y.name}.each do |user| %>
            <li><%= link_to user.name, user_path(user) %></li>
          <% end %>
        </ul>
      </li>
      <li class="has-dropdown not-click">
        <a href="#"> Athletes </a>
        <ul class="dropdown">
          <% User.all.select{|x| x.role == "Athlete"}.sort{|x,y| x.name <=> y.name}.each do |user| %>
            <li><%= link_to user.name, user_path(user) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="left">
      <li class="has-dropdown not-click">
        <%= link_to "Exercise Categories", categories_path %>
        <ul class="dropdown">
          <li><%= link_to "Add Category", new_category_path %></li>
          <li class="divider"></li>
          <% categories.each do |category| %>
            <li class="has-dropdown not-click">
              <%= link_to "#{category.name} (#{category.abbreviation})", category_path(category)%>
              <ul class="dropdown">
                <li><%= link_to "Add Subcategory to #{category.abbreviation}", new_category_subcategory_path(category)%></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </section>

</nav>